<form #userName="ngForm"> 
  <div class="form-group">
  <label for="category">Search Movie:</label>
<select name="category" class="form-control" [(ngModel)]="category">
<option value="Drama">Drama</option>
<option value="Fiction">Fiction</option>
<option value="Satire">Satire</option></select></div>
<br /><br />
<div class="form-group">
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          (click)="searchCategory()"
        >
          Search Movie
        </button>
</div>
</div>
</form>
<h4>Movies List</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let tutorial of tutorials; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveTutorial(tutorial, i)"
      >
        {{ tutorial.category }}
      </li>
    </ul>
    <button class="m-3 btn btn-sm btn-danger" (click)="removeAllTutorials()">
      Remove All
    </button>
  <div class="col-md-6">
    <app-tutorial-details
      [viewMode]="true"
      [currentTutorial]="currentTutorial"
    ></app-tutorial-details>
  </div>

